*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}
body{
    background: #263138;
}
header{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10% 24px 10%;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: large;
}

.list-products{
    /*justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap:2%;
    margin: 2% 2%;
    /* padding: 2%; */
}

.box{
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px black;
}

.box p{
    text-align: center;
    /* text-size-adjust: 100%; */
    font-weight: 700;
    max-width: 50%;
}

.box img{
    width: 100%;
    height: auto;
}

.product-price{
    justify-content: space-between;
    display: flex;
    padding: 0% 10%;
}

.cart-container table {
    width: 100%;
    padding: 0.5em;
    padding-bottom: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2.5em; 
}
  
.cart-container table thead th {
    padding-bottom: 10px;
    border-bottom: 1px solid #ea332a; 
}
  
.cart-container table tbody {
    padding-bottom: 4em; 
}
  
.cart-container table tbody td {
    padding: 0.5em; 
}
  
.cart-image {
    max-width: 120px;
}
  
.remove {
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #ea332a;
    color: #daed0e;
}